@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
select {
  width: 100% !important;
}

* {
  font-family: Roboto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

#main-container {
  width: calc(100vw - 200px);
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  left: 200px;
}
#main-container #sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #eaeaea;
  display: grid;
  grid-template-columns: 1fr;
  place-content: start;
  place-items: center;
  overflow: hidden;
}
#main-container #sidebar > .item {
  width: 100%;
  position: relative;
  border-left: 10px solid transparent;
  margin-bottom: 2px;
}
#main-container #sidebar > .item > a {
  text-decoration: none;
  display: grid;
  width: 80%;
  cursor: pointer;
  color: #505050;
  height: 30px;
  padding: 23px 10px;
  align-content: center;
}
#main-container #sidebar > .item.selected {
  background: #cbe2f8;
  border-left-color: #1e7fd9;
  font-weight: bold;
}
#main-container #sidebar > .item.selected > a {
  color: black;
  margin-left: 10px;
}

#logout {
  all: unset;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 3px;
  background: #1e7fd9;
}

.header {
  background-color: #1e7fd9;
  padding: 20px 50px;
  height: 80px;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header .brand > .logo {
  height: 50px;
}
.header .nav-section > a {
  all: unset;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  background: #52dc8b;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 3px;
}

.form > h1 {
  color: #1e7fd9;
  text-align: center;
}
.form > form > .field, .form > .form-inner > .field {
  display: grid;
  gap: 10px;
  place-content: center;
  place-items: center;
  margin-bottom: 5px;
  grid-template-columns: 1fr 3fr;
}
.form > form > .field > .label, .form > .form-inner > .field > .label {
  width: 100%;
  text-align: right;
}
.form > form > .field > .input, .form > .form-inner > .field > .input {
  width: 100%;
}
.form > form > .field > .input > input, .form > .form-inner > .field > .input > input {
  width: 100%;
  padding: 3px 7px;
}

.main-content {
  margin: 20px;
  margin-left: 70px;
  margin-right: 70px;
  display: grid;
}

.items-list > .list-item {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
}

.deliveries-list > .list-item {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
}

.users-list > .list-item {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
}

.clients-list > .list-item {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
}

.items-list {
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .items-list {
    width: 100% !important;
  }
}
.items-list > .list-item {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 20px 30px;
  background-color: #fefefe;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.lhead {
  background-color: #1e7fd9 !important;
  color: white !important;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-radius: 0 !important;
}

.two-cols {
  display: grid;
}

.alert-container {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px 50px;
  border-radius: 7px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.alert-danger {
  background-color: #1e7fd9;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
}

.button {
  background-color: #1e7fd9;
  color: white;
  text-decoration: none;
  padding: 7px 20px;
  border-radius: 10px;
}
.button:hover {
  color: #ccc;
}

.footer {
  position: fixed;
  bottom: 5px;
  height: 60px;
  right: 30px;
  width: 60px;
  display: grid;
  grid-template-columns: auto 60px;
  place-items: center;
  overflow: hidden;
  background-color: #52dc8b;
  border-radius: 60px;
  transition: all 0.2s ease-in-out;
}
.footer:hover {
  width: 90vw;
}
.footer:hover > .action-buttons {
  display: grid;
}

.action-buttons {
  display: none;
  grid-auto-flow: column;
  gap: 15px;
}
.action-buttons > a {
  text-decoration: none;
  background-color: white;
  color: #707070;
  padding: 7px 20px;
  text-transform: capitalize;
  border-radius: 7px;
  font-weight: bold;
  font-size: 12px;
}

#show-menu {
  all: unset;
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 2em;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: white;
  background-color: #52dc8b;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.client-data-title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 7px;
  border-radius: 0 0 7px 0px;
  border-bottom: 3px #1e7fd9 solid;
  font-size: 1em;
}
.client-data-history {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.client-data-history-row {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  place-content: center;
  place-items: center;
  gap: 1px;
  border-radius: 7px;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
}
.client-data-history-row.thead {
  background-color: #1e7fd9;
  color: white;
}
.client-data-history-row-value {
  padding: 7px;
}
.client-data-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  place-content: center;
  place-items: center;
}
.client-data-section-field {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  background-color: #e8e6e6;
}
.client-data-section-field-label {
  color: #1e7fd9;
  font-size: 0.7em;
}

.info-pill {
  display: block;
  padding: 7px 13px;
  background-color: #52dc8b;
  text-align: center;
  width: 130px;
  color: white;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e7fd9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4598e5;
}

.options-field {
  display: grid;
  grid-auto-flow: column dense;
  gap: 3px;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: auto;
}
.btn-success {
  background-color: #52dc8b;
}
.btn-warning {
  background-color: #dcb052;
}

input[type=checkbox] {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  background-color: #d3d3d3;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
input[type=checkbox]:checked {
  background-color: #52dc8b;
}

input[type=radio] {
  all: revert !important;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 600px;
  width: 600px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#add-product-modal-content p {
  width: 100%;
  text-align: center;
}

#products-list-modal-content {
  display: grid;
  width: 100%;
}
#products-list-modal-content > div {
  display: grid;
  width: 100%;
  padding: 3px;
  grid-template-columns: 4fr 1fr 1fr 1fr 10px;
  place-content: center;
  align-items: center;
  gap: 5px;
}
#products-list-modal-content > div > div > input {
  width: 100px;
}
#products-list-modal-content > div.product-item-head {
  background-color: #1e7fd9;
  color: white;
}

.price::after {
  content: "DZD";
  font-size: 10px;
}

.input > input[type=submit] {
  width: 150px !important;
  background-color: #1e7fd9;
  color: white;
}

.delivery-item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
.delivery-item.head {
  background-color: #1e7fd9;
  color: white;
}/*# sourceMappingURL=app.css.map */